.navbar {
    background-color: #e8ffef;
    padding: 10px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-list a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-list a:hover {
    color: #b78fd1;
}

.navbar-list a.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #b78fd1;
}

/* footer */
.footer {
    background-color: #e8ffef;
    padding: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.social-list {
    display: flex;
    gap: 2rem;
}

.social-list a {
    color: #333;
    font-size: 2rem;
}

.social-list a:hover {
    color: #000;
}


/* scroll top */

.scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  
  .scrolltop.scrolltop--active {
    opacity: 1;
    visibility: visible;
  }
  
  .scrolltop__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #333;
      transition: all 0.3s ease-in-out;
  }
  
  .scrolltop:hover {
    background-color: #b78fd1;
  }
  
  .scrolltop:hover .scrolltop__icon {
    color: #fff;
  }